/* "Hello World"(print) */
@import "tailwindcss";

body {
  background-image:
    radial-gradient(
      rgba(43, 8, 8, 0.249) 1px,
      transparent 1px
    );

  background-size: 24px 24px;
}

@font-face {
  font-family: "PressStart2P";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.press-start-font {
  font-family: "PressStart2P", monospace;
}
