/* "Hello World"(print) */
@import "tailwindcss";


@keyframes rotate-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotate-slower {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.animate-rotate-slow {
  animation: rotate-slow 20s linear infinite;
}

.animate-rotate-slower {
  animation: rotate-slower 30s linear infinite;
}

@layer utilities {
  .text-outline {
    text-shadow:
      1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
@font-face {
  font-family: "BitcountCursive";
  src: url("/fonts/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  font-family: "BitcountCursive";
}

.skill-shine::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -160%;
    left: -120%;
    background: linear-gradient(
        30deg,
        transparent,
        rgba(255, 255, 255, 0.667),
        transparent
    );
    transition: all 0.9s ease;
}

.skill-shine:hover::before {
    top: 120%;
    left: 150%;
}

body {
  background: linear-gradient(
    250deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(95, 212, 255, 1) 34%,
    rgba(209, 77, 77, 0.582) 64%,
    rgba(237, 16, 0, 0.474) 92%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



@media (max-width: 768px) {
  body {
    background: linear-gradient(
      250deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(95, 212, 255, 1) 30%,
      rgba(209, 77, 77, 0.582) 65%,
      rgba(237, 16, 0, 0.474) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
