/* "Hello World"(print) */
@import "tailwindcss";


@keyframes rotate-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotate-slower {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.animate-rotate-slow {
  animation: rotate-slow 20s linear infinite;
}

.animate-rotate-slower {
  animation: rotate-slower 30s linear infinite;
}

@layer utilities {
  .text-outline {
    text-shadow:
      1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
@font-face {
  font-family: "PressStart2P";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  font-family: "PressStart2P";
}

.skill-shine::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -160%;
    left: -120%;
    background: linear-gradient(
        30deg,
        transparent,
        rgba(255, 255, 255, 0.667),
        transparent
    );
    transition: all 0.9s ease;
}

.skill-shine:hover::before {
    top: 120%;
    left: 150%;
}

body {
  background-color: #111;
}


.pixel-rounded {
  clip-path: polygon(
    0 6px,
    6px 6px,
    6px 0,
    calc(100% - 6px) 0,
    calc(100% - 6px) 6px,
    100% 6px,
    100% calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) 100%,
    5px 100%,
    6px calc(100% - 6px),
    0 calc(100% - 6px)
  );
}

.pixel-frame {
  position: relative;
  padding: 12px;
  background: #d54242;
  border: 4px solid #000;
  clip-path: polygon(
    0 8px,
    8px 8px,
    8px 0,
    calc(100% - 8px) 0,
    calc(100% - 8px) 8px,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) 100%,
    8px 100%,
    8px calc(100% - 8px),
    0 calc(100% - 8px)
  );
  image-rendering: pixelated;
}

.pixel-button {
  position: relative;
  background: #2aa2f7;
  border: 4px solid #000;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    0 6px,
    6px 6px,
    6px 0,
    calc(100% - 6px) 0,
    calc(100% - 6px) 6px,
    100% 6px,
    100% calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) 100%,
    6px 100%,
    6px calc(100% - 6px),
    0 calc(100% - 6px)
  );
  box-shadow: 0 6px #145e9b;
}

.pixel-button::before {
  content: "";
  position: absolute;
  inset: 4px;
  border: 2px solid rgba(255,255,255,0.5);
  clip-path: inherit;
  pointer-events: none;
}


.pokedex {
  background: url("./assets/pokedex.png");
  background-repeat: no-repeat;
  background-size: contain;

}

body{
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-stephen {
  background-image: url("./assets/stephen.png");
  background-position: 0px 2px;
  background-repeat: no-repeat;
  background-size: cover;
}